@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 39, 39, 39;
  --background-end-rgb: 39, 39, 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 39, 39, 39;
    --background-end-rgb: 39, 39, 39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

label:focus-within {
  --tw-border-opacity: 1;
  border-color: rgb(196 254 118 / var(--tw-border-opacity));
  border-radius: 0.375rem;
}

input:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

select {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
